@{
    ViewData["Title"] = "Resume";
};
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<form class="form-vertical" method="POST" asp-controller="Resume" asp-action="Analysis">
    <div class="form-group">
        <textarea name="context" id="context" cols="100" rows="10"></textarea>
       
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">SUBMIT</button>
    </div>
    
    
</form>
